<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2023 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.ResultInfo
@using Resources
@using System.Web.Optimization

<style>
    .btn-suit {
        background-color: paleturquoise;
    }
</style>

<div id="leadNoMatchModal" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <p class="modal-title text-center">
                    <h3>@Strings.Warning</h3>
                </p>
            </div>
            <div class="modal-body">
                <p>@Strings.LeadNoMatch</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-success" data-dismiss="modal">
                    @Strings.OK <span class="fa fa-check-circle"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center p-0">
        <h3>
            @Strings.Board @Model.ResultData.BoardNumber: @Html.Raw(Model.ResultData.ContractDisplay)
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <h3>
            @Strings.EnterLead
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center p-0">
        <button id="cA" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('A')">
            @Strings.A
        </button>
        <button id="cK" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('K')">
            @Strings.K
        </button>
        <button id="cQ" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('Q')">
            @Strings.Q
        </button>
        <button id="cJ" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('J')">
            @Strings.J
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <button id="cT" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('T')">
            10
        </button>
        <button id="c9" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('9')">
            9
        </button>
        <button id="c8" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('8')">
            8
        </button>
        <button id="c7" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('7')">
            7
        </button>
        <button id="c6" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('6')">
            6
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <button id="c5" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('5')">
            5
        </button>
        <button id="c4" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('4')">
            4
        </button>
        <button id="c3" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('3')">
            3
        </button>
        <button id="c2" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" onclick="setCard('2')">
            2
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <button id="sS" class="btn btn-suit btn-lg m-1 p-0" style="color:black; width:2.5em; height:2.5em" onclick="setSuit('S')">
            <div style="font-size:xx-large; line-height:1em">&spades;</div>
        </button>
        <button id="sH" class="btn btn-suit btn-lg m-1 p-0" style="color:red; width:2.5em; height:2.5em" onclick="setSuit('H')">
            <div style="font-size:xx-large; line-height:1em">&hearts;</div>
        </button>
        <button id="sD" class="btn btn-suit btn-lg m-1 p-0" style="color:lightsalmon; width:2.5em; height:2.5em" onclick="setSuit('D')">
            <div style="font-size:xx-large; line-height:1em">&diams;</div>
        </button>
        <button id="sC" class="btn btn-suit btn-lg m-1 p-0" style="color:lightslategrey; width:2.5em; height:2.5em" onclick="setSuit('C')">
            <div style="font-size:xx-large; line-height:1em">&clubs;</div>
        </button>
    </div>
</div>

@if (Model.ResultData.LeadValidation != TabScore.Models.LeadValidationOptions.Validate)
{
    <div class="row mt-2">
        <div class="col-12 text-center p-0">
            <button id="skip" class="btn btn-outline-danger btn-lg m-1 px-2" onclick="setSkip()">
                @Strings.Skip
            </button>
        </div>
    </div>
}

@if (Model.ResultData.LeadValidation == TabScore.Models.LeadValidationOptions.Warning)
{
    <script>
        $("#leadNoMatchModal").modal("show");
    </script>
}

<script>
    var leadCard = "@Model.ResultData.LeadCard";
    var urlOKButtonClick = '@Url.Action("OKButtonClick", "EnterLead")?tabletDeviceNumber=@Model.TabletDeviceNumber';
    var urlEnterContract = '@Url.Action("Index", "EnterContract")?tabletDeviceNumber=@Model.TabletDeviceNumber&boardNumber=@Model.ResultData.BoardNumber';
</script>
@Scripts.Render("~/bundles/enterLeadJS")