
@{
    ViewBag.Title = "Enter Lead";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="leadNoMatchModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Lead does not match hand record</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div id="noCardSuitModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Please select card and suit</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Board @ViewData["Board"]: @Html.Raw(ViewData["DisplayContract"])
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3>
            Enter lead:
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <button id="cA" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('A')">
            A
        </button>
        <button id="cK" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('K')">
            K
        </button>
        <button id="cQ" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('Q')">
            Q
        </button>
        <button id="cJ" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('J')">
            J
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button id="c10" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('10')">
            10
        </button>
        <button id="c9" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('9')">
            9
        </button>
        <button id="c8" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('8')">
            8
        </button>
        <button id="c7" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('7')">
            7
        </button>
        <button id="c6" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('6')">
            6
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button id="c5" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('5')">
            5
        </button>
        <button id="c4" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('4')">
            4
        </button>
        <button id="c3" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('3')">
            3
        </button>
        <button id="c2" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setCard('2')">
            2
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <button id="sS" class="btn btn-info btn-lg m-1" style="color:black; width:3em; height:3em" ontouchstart="setSuit('S')">
            <p style="font-size:larger; margin-bottom:0">&spades;</p>
        </button>
        <button id="sH" class="btn btn-info btn-lg m-1" style="color:red; width:3em; height:3em" ontouchstart="setSuit('H')">
            <p style="font-size:larger; margin-bottom:0">&hearts;</p>
        </button>
        <button id="sD" class="btn btn-info btn-lg m-1" style="color:red; width:3em; height:3em" ontouchstart="setSuit('D')">
            <p style="font-size:larger; margin-bottom:0">&diams;</p>
        </button>
        <button id="sC" class="btn btn-info btn-lg m-1" style="color:black; width:3em; height:3em" ontouchstart="setSuit('C')">
            <p style="font-size:larger; margin-bottom:0">&clubs;</p>
        </button>
    </div>
</div>

@if (ViewData["SecondPass"].ToString() == "TRUE")
{
    <div class="row mt-2">
        <div class="col-12 text-center">
            <button id="skip" class="btn btn-danger btn-lg m-1" ontouchstart="setSkip()">
                Skip
            </button>
        </div>
    </div>

    <script>
        $("#leadNoMatchModal").modal();
    </script>
}

<script>
    var suit = '@ViewData["Suit"].ToString()';
    var card = '@ViewData["Card"].ToString()';

    window.onload = setCurrentSelections();

    function setCurrentSelections() {
        if (suit != "") {
            document.getElementById('s' + suit).className = "btn btn-warning btn-lg m-1";
            document.getElementById('c' + card).className = "btn btn-warning btn-lg m-1";
        }
    }
    
    function setCard(c) {
        card = c;
        if (suit == "SKIP") suit = "";
        document.getElementById('cA').className = "btn btn-primary btn-lg m-1";
        document.getElementById('cK').className = "btn btn-primary btn-lg m-1";
        document.getElementById('cQ').className = "btn btn-primary btn-lg m-1";
        document.getElementById('cJ').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c10').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c9').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c8').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c7').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c6').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c5').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c4').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c3').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c2').className = "btn btn-primary btn-lg m-1";
        if (document.getElementById('skip')) {
            document.getElementById('skip').className = "btn btn-danger btn-lg m-1";
        }
        document.getElementById('c' + card).className = "btn btn-warning btn-lg m-1";
    }

    function setSuit(s) {
        suit = s;
        document.getElementById('sS').className = "btn btn-info btn-lg m-1";
        document.getElementById('sH').className = "btn btn-info btn-lg m-1";
        document.getElementById('sD').className = "btn btn-info btn-lg m-1";
        document.getElementById('sC').className = "btn btn-info btn-lg m-1";
        if (document.getElementById('skip')) {
            document.getElementById('skip').className = "btn btn-danger btn-lg m-1";
        }
        document.getElementById('s' + suit).className = "btn btn-warning btn-lg m-1";
    }

    function setSkip() {
        suit = "SKIP";
        card = "";
        document.getElementById('cA').className = "btn btn-primary btn-lg m-1";
        document.getElementById('cK').className = "btn btn-primary btn-lg m-1";
        document.getElementById('cQ').className = "btn btn-primary btn-lg m-1";
        document.getElementById('cJ').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c10').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c9').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c8').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c7').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c6').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c5').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c4').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c3').className = "btn btn-primary btn-lg m-1";
        document.getElementById('c2').className = "btn btn-primary btn-lg m-1";
        document.getElementById('sS').className = "btn btn-info btn-lg m-1";
        document.getElementById('sH').className = "btn btn-info btn-lg m-1";
        document.getElementById('sD').className = "btn btn-info btn-lg m-1";
        document.getElementById('sC').className = "btn btn-info btn-lg m-1";
        document.getElementById('skip').className = "btn btn-warning btn-lg m-1";
    }

    function validateOK() {
        if (suit != "SKIP" && (card == "" || suit == "")) {
            $("#noCardSuitModal").modal();
        }
        else {
            location.href = '@Url.Action("OKButtonClick", "EnterLead")?card=' + suit + card + '&secondPass=' + '@ViewData["SecondPass"].ToString()';
        }
    }

    function backClick() {
        location.href = '@Url.Action("BackButtonClick", "EnterLead")';
    }

</script>



