@model List<TabScore.Models.Result>
@{
    ViewBag.Title = "Show Traveller";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row my-1">
    @if (ViewData["HandRecord"].ToString() == "TRUE")
    {
        <div class="col-9">
            <div class="row">
                <div class="col-12 text-center">
                    <h4>
                        Board @Session["Board"]
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    @if (ViewData["PercentageNS"].ToString() == "###")
                    {
                        <h4>
                            Traveller
                        </h4>
                    }
                    else
                    {
                        <h4>
                            NS: @ViewData["PercentageNS"]% - EW: @ViewData["PercentageEW"]%
                        </h4>
                    }
                </div>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-light btn-lg mr-2 my-2 float-right" ontouchstart="handRecordClick()">
                <img src="~/Cards Logo.png" />
            </button>
        </div>
    }
    else
    {
        <div class="col-12 text-center">
            <h4>
                Board @Session["Board"]
            </h4>
        </div>
        <div class="col-12 text-center">
            @if (ViewData["PercentageNS"].ToString() == "###")
            {
                <h4>
                    Traveller
                </h4>
            }
            else
            {
                <h4>
                    NS: @ViewData["PercentageNS"]% - EW: @ViewData["PercentageEW"]%
                </h4>
            }
        </div>
    }
</div>

<div class="row">
    <div class="col-12">
        <table class="table-sm table-bordered text-center" style="margin:auto; width:50%">
            <thead class="thead-dark">
                <tr>
                    <th>NS</th>
                    <th>EW</th>
                    <th>Contract</th>
                    <th>By</th>
                    <th>Lead</th>
                    <th>Tricks</th>
                    <th>NS Score</th>
                    <th>EW Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Result in Model)
                {
                    if (Convert.ToInt32(Session["PairNS"]) == Result.PairNS)
                    {
                        <tr class="table-success">
                            @if (Session["IndividualEvent"].ToString() == "YES")
                            {
                                <td>@Result.PairNS+@Result.South</td>
                                <td>@Result.PairEW+@Result.West</td>
                            }
                            else
                            {
                                <td>@Result.PairNS</td>
                                <td>@Result.PairEW</td>
                            }
                            <td>@Html.Raw(Result.DisplayTravellerContract())</td>
                            <td>@Result.NSEW</td>
                            <td>@Html.Raw(Result.DisplayLeadCard())</td>
                            <td>@Result.TricksTakenSymbol</td>
                            <td>@Result.ScoreNS</td>
                            <td>@Result.ScoreEW</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            @if (Session["IndividualEvent"].ToString() == "YES")
                            {
                                <td>@Result.PairNS+@Result.South</td>
                                <td>@Result.PairEW+@Result.West</td>
                            }
                            else
                            {
                                <td>@Result.PairNS</td>
                                <td>@Result.PairEW</td>
                            }
                            <td>@Html.Raw(Result.DisplayTravellerContract())</td>
                            <td>@Result.NSEW</td>
                            <td>@Html.Raw(Result.DisplayLeadCard())</td>
                            <td>@Result.TricksTakenSymbol</td>
                            <td>@Result.ScoreNS</td>
                            <td>@Result.ScoreEW</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function validateOK() {
        location.href = '@Url.Action("OKButtonClick", "ShowTraveller")';
    }

    function handRecordClick() {
        location.href = '@Url.Action("HandRecordButtonClick", "ShowTraveller")';
    }

    function backClick() {
        location.href = '@Url.Action("BackButtonClick", "ShowTraveller")';
    }
</script>

