<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.TableStatus

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Round: @Model.RoundData.RoundNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3 style="color:green">
            Boards: @Model.RoundData.LowBoard to @Model.RoundData.HighBoard
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            North: @Model.RoundData.PairNS & South: @Model.RoundData.South
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h4>
            @Model.RoundData.NameNorth & @Model.RoundData.NameSouth
        </h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            East: @Model.RoundData.PairEW & West: @Model.RoundData.West
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h4>
            @Model.RoundData.NameEast & @Model.RoundData.NameWest
        </h4>
    </div>
</div>

<script>
    var isSubmitted = false;

    $(document).on('touchstart', '#OKButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowBoards")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber';
        }
    });

    $(document).on('touchstart', '#BackButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("BackButtonClick", "ShowRoundInfo")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber';
        }
    });
</script>
