@{
    ViewBag.Title = "Show Round NS Missing";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Round: @ViewData["Round"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3>
            Boards: @ViewData["LowBoard"] to @ViewData["HighBoard"]
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            East/West: Pair @ViewData["PairEW"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h4>
            @ViewData["PlayerNameEast"] & @ViewData["PlayerNameWest"]
        </h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:red">
            Sitting Out
        </h3>
    </div>
</div>

<script>
    function validateOK() {
        location.href = '@Url.Action("OKSitOutButtonClick", "ShowRoundInfo")';
    }
</script>
