<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2021 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.SitoutRoundInfo

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Round: @Model.RoundNumber
        </h3>
    </div>
</div>

@if (Model.TabletDevicesPerTable == 2)
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3 style="color:blue">
                Pair: @Model.PairNumber
            </h3>
        </div>
    </div>
}
else
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3 style="color:blue">
                Player: @Model.PairNumber
            </h3>
        </div>
    </div>
}

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:red">
            Sitting Out
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-10 text-center">
        <h5>
            Sitting out away from the numbered tables
        </h5>
    </div>
    <div class="col-1">
    </div>
</div>

<script>
    var isSubmitted = false;

    $(document).on('touchstart', '#OKButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowRankingList")?tabletDeviceNumber=@Model.TabletDeviceNumber';
        }
    });

    $(document).on('touchstart', '#BackButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("BackButtonClick", "ShowRoundInfo")?tabletDeviceNumber=@Model.TabletDeviceNumber';
        }
    });
</script>

