<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.TableStatus

<div id="notAllNamesModal" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <p class="modal-title text-center">
                    <h3>Warning</h3>
                </p>
            </div>
            <div class="modal-body">
                <p>Please select a name or 'Unknown' for both North and South</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-success" data-dismiss="modal">
                    OK <span class="fa fa-check-circle"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Enter/Edit Players:
        </h3>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            North/South: @Model.RoundData.PairNS
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-2 text-right pr-3 align-self-center">
        <h4>
            North:
        </h4>
    </div>
    <div class="col-3">
        @if (Model.RoundData.NameNorth == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="EnterPlayerNumber('North')">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="EnterPlayerNumber('North')">
                Edit
            </button>
        }
    </div>
    <div class="col-7 align-self-center">
        <h4>
            @Model.RoundData.NameNorth
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-2 text-right pr-3 align-self-center">
        <h4>
            South:
        </h4>
    </div>
    <div class="col-3">
        @if (Model.RoundData.NameSouth == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="EnterPlayerNumber('South')">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="EnterPlayerNumber('South')">
                Edit
            </button>
        }
    </div>
    <div class="col-7 align-self-center">
        <h4>
            @Model.RoundData.NameSouth
        </h4>
    </div>
</div>

<script>
    var isSubmitted = false;

    $(document).on('touchstart', '#OKButton:enabled', function () {
        if ("@Model.RoundData.NameNorth" == "" || "@Model.RoundData.NameSouth" == "") {
            $("#notAllNamesModal").modal("show");
        }
        else {
            if (!isSubmitted) {
                isSubmitted = true;
                location.href = '@Url.Action("Index", "ShowRoundInfo")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber';
            }
        }
    });

    function EnterPlayerNumber(direction) {
            if (!isSubmitted) {
                isSubmitted = true;
                location.href = '@Url.Action("Index", "EnterPlayerNumber")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber&direction=' + direction;
            }
    }
</script>