<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.Round

@{
    ViewData["Title"] = "Show Player Numbers NS Missing";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="notAllNamesModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Please select a name for both East and West</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Enter/Edit Players:
        </h3>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            East/West: @Model.PairEW
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-2 text-right pr-3 align-self-center">
        <h4>
            East:
        </h4>
    </div>
    <div class="col-3">
        @if (Model.NameEast == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="EnterPlayerNumber('East')">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="EnterPlayerNumber('East')">
                Edit
            </button>
        }
    </div>
    <div class="col-7 align-self-center">
        <h4>
            @Model.NameEast
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-2 text-right pr-3 align-self-center">
        <h4>
            West:
        </h4>
    </div>
    <div class="col-3">
        @if (Model.NameWest == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="EnterPlayerNumber('West')">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="EnterPlayerNumber('West')">
                Edit
            </button>
        }
    </div>
    <div class="col-7 align-self-center">
        <h4>
            @Model.NameWest
        </h4>
    </div>
</div>

<script>
    var isSubmitted = false;

    function validateOK() {
        if ("@Model.NameEast" == "" || "@Model.NameWest" == "") {
            $("#notAllNamesModal").modal();
        }
        else {
            if (!isSubmitted) {
                isSubmitted = true;
                location.href = '@Url.Action("OKButtonClick", "ShowPlayerNumbers")';
            }
        }
    }

    function EnterPlayerNumber(direction) {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=' + direction;
        }
    }
</script>
