@model TabScore.Models.Round

@{
    ViewBag.Title = "Show Player Numbers";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var PlayerNameNorth = Model.NameNorth;
    var PlayerNameSouth = Model.NameSouth;
    var PlayerNameEast = Model.NameEast;
    var PlayerNameWest = Model.NameWest;
}

<div id="notAllNamesModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Please select a name for all 4 players</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Enter/Edit Players:
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            North/South: @Model.PairNS
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-2 text-right pr-3 align-self-center">
        <h4>
            North:
        </h4>
    </div>
    <div class="col-3">
        @if (PlayerNameNorth == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=North'">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=North'">
                Edit
            </button>
        }
    </div>
    <div class="col-7 align-self-center">
        <h4>
            @PlayerNameNorth
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-2 text-right pr-3 align-self-center">
        <h4>
            South:
        </h4>
    </div>
    <div class="col-3">
        @if (PlayerNameSouth == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=South'">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=South'">
                Edit
            </button>
        }
    </div>
    <div class="col-7 align-self-center">
        <h4>
            @PlayerNameSouth
        </h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            East/West: @Model.PairEW
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-2 text-right pr-3 align-self-center">
        <h4>
            East:
        </h4>
    </div>
    <div class="col-3">
        @if (PlayerNameEast == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=East'">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=East'">
                Edit
            </button>
        }
    </div>
    <div class="col-7 align-self-center">
        <h4>
            @PlayerNameEast
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-2 text-right pr-3 align-self-center">
        <h4>
            West:
        </h4>
    </div>
    <div class="col-3">
        @if (PlayerNameWest == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=West'">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=West'">
                Edit
            </button>
        }
    </div>
    <div class="col-7 align-self-center">
        <h4>
            @PlayerNameWest
        </h4>
    </div>
</div>

<script>
    function validateOK() {
        if ("@PlayerNameNorth" == "" || "@PlayerNameSouth" == "" || "@PlayerNameEast" == "" || "@PlayerNameWest" == "") {
            $("#notAllNamesModal").modal();
        }
        else {
            location.href = '@Url.Action("OKButtonClick", "ShowPlayerNumbers")';
        }
    }
</script>
