@model TabScore.Models.HandRecord

@{
    ViewBag.Title = "Show Hand Record";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row my-3">
    <div class="col-12 text-center">
        <h3>
            Board @Model.BoardNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-4">
        <h5>
            Dealer: @Model.Dealer
        </h5>
    </div>
    <div class="col-3">
        <div class="row">
            <h5><a style="color:black">&spades;</a>@Model.NorthSpades</h5>
        </div>
        <div class="row">
            <h5><a style="color:red">&hearts;</a>@Model.NorthHearts</h5>
        </div>
        <div class="row">
            <h5><a style="color:lightsalmon">&diams;</a>@Model.NorthDiamonds</h5>
        </div>
        <div class="row">
            <h5><a style="color:lightslategrey">&clubs;</a>@Model.NorthClubs</h5>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<div class="row">
    <div class="col-4 pl-4">
        <div class="row">
            <h5><a style="color:black">&spades;</a>@Model.WestSpades</h5>
        </div>
        <div class="row">
            <h5><a style="color:red">&hearts;</a>@Model.WestHearts</h5>
        </div>
        <div class="row">
            <h5><a style="color:lightsalmon">&diams;</a>@Model.WestDiamonds</h5>
        </div>
        <div class="row">
            <h5><a style="color:lightslategrey">&clubs;</a>@Model.WestClubs</h5>
        </div>
    </div>
    <div class="col-4 px-3 py-2" style="background-color:green">
        @if (Model.EvalNorthNT == "###")
        {
            <div class="row h-25">
                <div class="col-12 text-center" style="color:aqua">
                    N
                </div>
            </div>
            <div class="row h-25 mt-3">
                <div class="col-12" style="color:aqua; display: inline-block; vertical-align: middle;">
                    <a class="float-left">W</a>
                    <a class="float-right">E</a>
                </div>
            </div>
            <div class="row h-25 mt-3">
                <div class="col-12 text-center" style="color:aqua">
                    S
                </div>
            </div>
        }
        else
        {
            <div class="row h-25">
                <div class="col-12 text-center" style="color:aqua">
                    N (@Model.HCPNorth)
                </div>
            </div>
            <div class="row h-25 mt-3">
                <div class="col-12" style="color:aqua; display: inline-block; vertical-align: middle;">
                    <a class="float-left">W (@Model.HCPWest)</a>
                    <a class="float-right">(@Model.HCPEast) E</a>
                </div>
            </div>
            <div class="row h-25 mt-3">
                <div class="col-12 text-center" style="color:aqua">
                    S (@Model.HCPSouth)
                </div>
            </div>
        }
    </div>
    <div class="col-4 pl-4">
        <div class="row">
            <h5><a  style="color:black">&spades;</a>@Model.EastSpades</h5>
        </div>
        <div class="row">
            <h5><a style="color:red">&hearts;</a>@Model.EastHearts</h5>
        </div>
        <div class="row">
            <h5><a style="color:lightsalmon">&diams;</a>@Model.EastDiamonds</h5>
        </div>
        <div class="row">
            <h5><a style="color:lightslategrey">&clubs;</a>@Model.EastClubs</h5>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-4 text-center">
        @if (Model.EvalNorthNT != "###")
        {
            <table class="table-sm table-bordered text-center mt-1 bg-white" style="font-size:smaller; margin:auto; width:50%">
                <thead>
                    <tr>
                        <th></th>
                        <th>NT</th>
                        <th style="color:black">&spades;</th>
                        <th style="color:red">&hearts;</th>
                        <th style="color:lightsalmon">&diams;</th>
                        <th style="color:lightslategrey">&clubs;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>N</td>
                        <td>@Model.EvalNorthNT</td>
                        <td>@Model.EvalNorthSpades</td>
                        <td>@Model.EvalNorthHearts</td>
                        <td>@Model.EvalNorthDiamonds</td>
                        <td>@Model.EvalNorthClubs</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>@Model.EvalSouthNT</td>
                        <td>@Model.EvalSouthSpades</td>
                        <td>@Model.EvalSouthHearts</td>
                        <td>@Model.EvalSouthDiamonds</td>
                        <td>@Model.EvalSouthClubs</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>@Model.EvalEastNT</td>
                        <td>@Model.EvalEastSpades</td>
                        <td>@Model.EvalEastHearts</td>
                        <td>@Model.EvalEastDiamonds</td>
                        <td>@Model.EvalEastClubs</td>
                    </tr>
                    <tr>
                        <td>W</td>
                        <td>@Model.EvalWestNT</td>
                        <td>@Model.EvalWestSpades</td>
                        <td>@Model.EvalWestHearts</td>
                        <td>@Model.EvalWestDiamonds</td>
                        <td>@Model.EvalWestClubs</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
        <div class="row">
            <h5><a style="color:black">&spades;</a>@Model.SouthSpades</h5>
        </div>
        <div class="row">
            <h5><a style="color:red">&hearts;</a>@Model.SouthHearts</h5>
        </div>
        <div class="row">
            <h5><a style="color:lightsalmon">&diams;</a>@Model.SouthDiamonds</h5>
        </div>
        <div class="row">
            <h5><a style="color:lightslategrey">&clubs;</a>@Model.SouthClubs</h5>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<script>
    function validateOK() {
        location.href = '@Url.Action("OKButtonClick", "ShowHandRecord")';
    }
</script>
