<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2022 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.HandRecord

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3>
            Board @Model.BoardNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-4">
        <h5>
            Dealer: @Model.Dealer
        </h5>
    </div>
    <div class="col-3">
        <div class="row">
            <h5><span style="color:black">&spades;</span>@Model.NorthSpades</h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span>@Model.NorthHearts</h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span>@Model.NorthDiamonds</h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span>@Model.NorthClubs</h5>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<div class="row">
    <div class="col-4 pl-4">
        <div class="row">
            <h5><span style="color:black">&spades;</span>@Model.WestSpades</h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span>@Model.WestHearts</h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span>@Model.WestDiamonds</h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span>@Model.WestClubs</h5>
        </div>
    </div>
    <div class="col-4 px-3 py-2" style="color: aqua; background-color:green">
        @if (Model.EvalNorthNT == "###")
        {
            <div class="row h-25">
                <div class="col-12 text-center">
                    N
                </div>
            </div>
            <div class="row h-25 mt-3">
                <div class="col-12" style="display: inline-block; vertical-align: middle;">
                    <span class="float-left">W</span>
                    <span class="float-right">E</span>
                </div>
            </div>
            <div class="row h-25 mt-3">
                <div class="col-12 text-center">
                    S
                </div>
            </div>
        }
        else
        {
            <div class="row h-25">
                <div class="col-12 text-center">
                    N (@Model.HCPNorth)
                </div>
            </div>
            <div class="row h-25 mt-3">
                <div class="col-12" style="display: inline-block; vertical-align: middle;">
                    <span class="float-left">W (@Model.HCPWest)</span>
                    <span class="float-right">(@Model.HCPEast) E</span>
                </div>
            </div>
            <div class="row h-25 mt-3">
                <div class="col-12 text-center">
                    S (@Model.HCPSouth)
                </div>
            </div>
        }
    </div>
    <div class="col-4 pl-4">
        <div class="row">
            <h5><span style="color:black">&spades;</span>@Model.EastSpades</h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span>@Model.EastHearts</h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span>@Model.EastDiamonds</h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span>@Model.EastClubs</h5>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-4 text-center">
        @if (Model.EvalNorthNT != "###")
        {
            <table class="table-sm table-bordered text-center mt-1 bg-white" style="font-size:smaller; margin:auto; width:50%">
                <thead>
                    <tr>
                        <th></th>
                        <th>NT</th>
                        <th style="color:black">&spades;</th>
                        <th style="color:red">&hearts;</th>
                        <th style="color:lightsalmon">&diams;</th>
                        <th style="color:lightslategrey">&clubs;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>N</td>
                        <td>@Model.EvalNorthNT</td>
                        <td>@Model.EvalNorthSpades</td>
                        <td>@Model.EvalNorthHearts</td>
                        <td>@Model.EvalNorthDiamonds</td>
                        <td>@Model.EvalNorthClubs</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>@Model.EvalSouthNT</td>
                        <td>@Model.EvalSouthSpades</td>
                        <td>@Model.EvalSouthHearts</td>
                        <td>@Model.EvalSouthDiamonds</td>
                        <td>@Model.EvalSouthClubs</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>@Model.EvalEastNT</td>
                        <td>@Model.EvalEastSpades</td>
                        <td>@Model.EvalEastHearts</td>
                        <td>@Model.EvalEastDiamonds</td>
                        <td>@Model.EvalEastClubs</td>
                    </tr>
                    <tr>
                        <td>W</td>
                        <td>@Model.EvalWestNT</td>
                        <td>@Model.EvalWestSpades</td>
                        <td>@Model.EvalWestHearts</td>
                        <td>@Model.EvalWestDiamonds</td>
                        <td>@Model.EvalWestClubs</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
        <div class="row">
            <h5><span style="color:black">&spades;</span>@Model.SouthSpades</h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span>@Model.SouthHearts</h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span>@Model.SouthDiamonds</h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span>@Model.SouthClubs</h5>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<script>
    var isSubmitted = false;

    $(document).on('touchstart', '#OKButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowTraveller")?tabletDeviceNumber=@Model.TabletDeviceNumber&boardNumber=@Model.BoardNumber&fromView=@Model.FromView.ToString().ToLower()';
        }
    });
</script>