<!-- TabScore, a wireless bridge scoring program.  Copyright(C) 2023 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.HandRecord
@using Resources
@using System.Web.Optimization

<div class="row mt-4">
    <div class="col-12 text-center p-0">
        <h3>
            @Strings.Board @Model.BoardNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-4">
        <h5>
            @Strings.Dealer @Model.Dealer
        </h5>
    </div>
    <div class="col-3">
        <div class="row">
            <h5><span style="color:black">&spades;</span><span id="TS"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span><span id="TH"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span><span id="TD"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span><span id="TC"></span></h5>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<div class="row">
    <div class="col-4 pl-4">
        <div class="row">
            <h5><span style="color:black">&spades;</span><span id="LS"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span><span id="LH"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span><span id="LD"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span><span id="LC"></span></h5>
        </div>
    </div>
    <div class="col-4 px-3 py-2" style="color: aqua; background-color:green">
        <div class="row h-25">
            <div id="T" class="col-12 text-center"></div>
        </div>
        <div class="row h-25 mt-3">
            <div class="col-12" style="display: inline-block; vertical-align: middle;">
                <span id="L" class="float-left"></span>
                <span id="R" class="float-right"></span>
            </div>
        </div>
        <div class="row h-25 mt-3">
            <div id="B" class="col-12 text-center"></div>
        </div>
    </div>
    <div class="col-4 pl-4">
        <div class="row">
            <h5><span style="color:black">&spades;</span><span id="RS"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span><span id="RH"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span><span id="RD"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span><span id="RC"></span></h5>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-4 p-0 text-center">
        @if (Model.EvalNorthNT != "###")
        {
            <table class="table-sm table-bordered text-center mt-1 bg-white" style="font-size:smaller; margin:auto; width:50%">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Strings.NT</th>
                        <th style="color:black">&spades;</th>
                        <th style="color:red">&hearts;</th>
                        <th style="color:lightsalmon">&diams;</th>
                        <th style="color:lightslategrey">&clubs;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Strings.N</td>
                        <td>@Model.EvalNorthNT</td>
                        <td>@Model.EvalNorthSpades</td>
                        <td>@Model.EvalNorthHearts</td>
                        <td>@Model.EvalNorthDiamonds</td>
                        <td>@Model.EvalNorthClubs</td>
                    </tr>
                    <tr>
                        <td>@Strings.S</td>
                        <td>@Model.EvalSouthNT</td>
                        <td>@Model.EvalSouthSpades</td>
                        <td>@Model.EvalSouthHearts</td>
                        <td>@Model.EvalSouthDiamonds</td>
                        <td>@Model.EvalSouthClubs</td>
                    </tr>
                    <tr>
                        <td>@Strings.E</td>
                        <td>@Model.EvalEastNT</td>
                        <td>@Model.EvalEastSpades</td>
                        <td>@Model.EvalEastHearts</td>
                        <td>@Model.EvalEastDiamonds</td>
                        <td>@Model.EvalEastClubs</td>
                    </tr>
                    <tr>
                        <td>@Strings.W</td>
                        <td>@Model.EvalWestNT</td>
                        <td>@Model.EvalWestSpades</td>
                        <td>@Model.EvalWestHearts</td>
                        <td>@Model.EvalWestDiamonds</td>
                        <td>@Model.EvalWestClubs</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
        <div class="row">
            <h5><span style="color:black">&spades;</span><span id="BS"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span><span id="BH"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span><span id="BD"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span><span id="BC"></span></h5>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        @if (Model.PerspectiveButtonOption == TabScore.Models.HandRecordPerspectiveButtonOptions.NSEW || Model.PerspectiveButtonOption == TabScore.Models.HandRecordPerspectiveButtonOptions.NS)
        {
            <button id="btnNorth" class="btn btn-secondary m-1" ontouchstart="touchAvailable = true; setNSEW('North')" onclick="if (!touchAvailable) setNSEW('North')">
                @Strings.N
            </button>
            <button id="btnSouth" class="btn btn-secondary m-1" ontouchstart="touchAvailable = true; setNSEW('South')" onclick="if (!touchAvailable) setNSEW('South')">
                @Strings.S
            </button>
        }
        @if (Model.PerspectiveButtonOption == TabScore.Models.HandRecordPerspectiveButtonOptions.NSEW || Model.PerspectiveButtonOption == TabScore.Models.HandRecordPerspectiveButtonOptions.EW)
        {
            <button id="btnEast" class="btn btn-secondary m-1" ontouchstart="touchAvailable = true; setNSEW('East')" onclick="if (!touchAvailable) setNSEW('East')">
                @Strings.E
            </button>
            <button id="btnWest" class="btn btn-secondary m-1" ontouchstart="touchAvailable = true; setNSEW('West')" onclick="if (!touchAvailable) setNSEW('West')">
                @Strings.W
            </button>
        }
    </div>
</div>

<script>
    var model = @Html.Raw(Json.Encode(Model));
    var isSubmitted = false;
    var stringN = "@Strings.N";
    var stringE = "@Strings.E";
    var stringS = "@Strings.S";
    var stringW = "@Strings.W";
</script>
@Scripts.Render("~/bundles/showHandRecordJS")
<script>
    $(document).on('touchstart click', '#OKButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowTraveller")?tabletDeviceNumber=@Model.TabletDeviceNumber&boardNumber=@Model.BoardNumber&fromView=@Model.FromView.ToString().ToLower()';
        }
    });
</script>
