<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.RankingList

@{
    ViewData["Title"] = "Show Ranking List - One Winner";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-4">
    <div class="col-12 text-center">
        <h4>
            Ranking List
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table-sm table-bordered text-center" style="margin:auto; width:70%">
            <thead class="thead-dark">
                <tr>
                    <th>Rank</th>
                    <th>Pair No</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Rank in Model)
                {
                    if (Model.PairNS == Rank.PairNo)
                    {
                        <tr class="table-success">
                            <td>@Rank.Rank</td>
                            <td>@Rank.PairNo</td>
                            <td>@Rank.Score%</td>
                        </tr>
                    }
                    else if (Model.PairEW == Rank.PairNo)
                    {
                        <tr class="table-warning">
                            <td>@Rank.Rank</td>
                            <td>@Rank.PairNo</td>
                            <td>@Rank.Score%</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Rank.Rank</td>
                            <td>@Rank.PairNo</td>
                            <td>@Rank.Score%</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var isSubmitted = false;

    function validateOK() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowMove")?newRoundNumber=' + (@Model.RoundNumber + 1).toString();
        }
    }

    function refreshClick() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowRankingList")';
        }
    }
</script>
