@{
    ViewBag.Title = "Confirm Result";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Board @Session["Board"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3>
            Confirm result:
        </h3>
    </div>
</div>

@if (ViewData["DisplayContract"].ToString() == "PASS")
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3>
                <a style="color:darkgreen">PASSed Out</a>
            </h3>
        </div>
    </div>
}
else
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3>
                @Html.Raw(ViewData["DisplayContract"])
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h3>
                @ViewData["Score"] to @ViewData["Direction"]
            </h3>
        </div>
    </div>
}

<script>
    function validateOK() {
        location.href = '@Url.Action("OKButtonClick", "ConfirmResult")';
    }

    function backClick() {
        location.href = '@Url.Action("BackButtonClick", "ConfirmResult")';
    }
</script>
