@model TabScore.Models.MovesList

@{
    ViewBag.Title = "Show Move";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Move for Round @Model.NewRoundNumber
        </h3>
    </div>
</div>

@foreach (var move in Model)
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            @if (move.Direction == "NS")
            {
                <h3 style="color:blue">
                    North/South: @move.PairNumber
                </h3>
            }
            else
            {
                <h3 style="color:blue">
                    East/West: @move.PairNumber
                </h3>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            @if (move.NewTableNumber == 0)
            {
                <h4>
                    Move to Sit Out
                </h4>
            }
            else
            {
                if (move.Stay)
                {
                    <h4>
                        Stay at Table @move.NewTableNumber @move.NewDirection
                    </h4>
                }
                else
                {
                    <h4>
                        Move to Table @move.NewTableNumber @move.NewDirection
                    </h4>
                }
            }
        </div>
    </div>
}

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:green">
            Boards: @Model.LowBoard to @Model.HighBoard
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @if (Model.BoardsNewTable == 0)
        {
            <h4>
                Pass to Relay Table
            </h4>
        }
        else
        {
            <h4>
                Pass to Table @Model.BoardsNewTable
            </h4>
        }
    </div>
</div>

<script>
    var isSubmitted = false;

    function validateOK() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "ShowMove")';
        }
    }
</script>
