<!-- TabScore, a wireless bridge scoring program.  Copyright(C) 2023 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.SelectTableNumber
@using Resources

<div id="tableRegisteredModal" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-danger">
                <p class="modal-title text-center">
                    <h3>Warning</h3>
                </p>
            </div>
            <div class="modal-body">
                <p>@Strings.ErrorTableRegistered1 @Model.TableNumber @Strings.ErrorTableRegistered3</p>
            </div>
            <div class="modal-footer" style="justify-content:space-between">
                <button class="btn btn-lg btn-danger" onclick="modalLogOn()">
                    <span class="fa fa-play-circle"></span> @Strings.Register
                </button>
                <button class="btn btn-lg btn-success" data-dismiss="modal">
                    @Strings.Cancel <span class="fa fa-times-circle"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            @Strings.SelectTableNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        @for (int i = 1; i <= Model.NumTables && i < 6; i++)
        {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                @i
            </button>
        }
    </div>
</div>

@if (Model.NumTables > 5)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 6; i <= Model.NumTables && i < 11; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 10)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 11; i <= Model.NumTables && i < 16; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 15)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 16; i <= Model.NumTables && i < 21; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}
@if (Model.NumTables > 20)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 21; i <= Model.NumTables && i < 26; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 25)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 26; i <= Model.NumTables && i < 31; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.Confirm)
{
    <script>
        $("#tableRegisteredModal").modal("show");
    </script>
}

<script>
    var tableNumber = "";
    var isSubmitted = false;

    function selectTableNumber(n) {
        if (tableNumber != "") {
           document.getElementById("tn" + tableNumber).className = "btn btn-primary btn-lg m-1 px-0";
        }
        document.getElementById("tn" + n).className = "btn btn-warning btn-lg m-1 px-0";
        tableNumber = n;
        document.getElementById("OKButton").disabled = false;
    }

    $(document).on('touchstart click', '#OKButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "SelectTableNumber")?sectionID=@Model.SectionID&tableNumber=' + tableNumber + '&confirm=false';
        }
    });

    function modalLogOn() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "SelectTableNumber")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber&confirm=true';
        }
    }
</script>