@model TabScore.Models.ResultsList

@{
    ViewBag.Title = "Show Boards";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="notAllResultsModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-danger">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Some boards do not have a result entered.  Has the Tournament Director told you to skip these boards and move to the next round?</p>
        </div>
        <div class="modal-footer" style="justify-content:space-between">
            <button class="btn btn-lg btn-danger" ontouchstart="location.href = '@Url.Action("OKButtonClick", "ShowBoards")'">
                Skip Boards
            </button>
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                Go Back
            </button>
        </div>
    </div>
</div>

<div class="row mt-5 mb-3">
    <div class="col-12 text-center">
        <h3>
            Boards:
        </h3>
    </div>
</div>

@foreach (var Result in Model)
{
    <div class="row">
        <div class="col-2 text-right pr-3 align-self-center">
            <h4>
                @Result.BoardNumber:
            </h4>
        </div>
        <div class="col-3">
            @if (Result.ContractLevel == -1)
            {
                <button class="btn btn-primary btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterContract")?boardNumber=' + @Result.BoardNumber">
                    Enter
                </button>
            }
            else
            {
                <button class="btn btn-info btn-lg m-1" ontouchstart="location.href = '@Url.Action("Index", "EnterContract")?boardNumber=' + @Result.BoardNumber">
                    Edit
                </button>
            }
        </div>
        <div class="col-7 align-self-center">
            <h4>
                @Html.Raw(Result.DisplayContract())
            </h4>
        </div>
    </div>
}

<script>
    function validateOK() {
        if (@Model.GotAllResults.ToString().ToLower()) {
            location.href = '@Url.Action("OKButtonClick", "ShowBoards")';
        }
        else {
            $("#notAllResultsModal").modal()
        }
    }
</script>

