<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.RankingList

<div class="row mt-4">
    <div class="col-12 text-center">
        <h4>
            Ranking List
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table-sm table-bordered text-center" style="margin:auto; width:70%">
            <thead class="thead-dark">
                <tr>
                    <th>Rank</th>
                    <th>Player No</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var Result in Model)
                {
                    if (Model.PairNS == Result.PairNo)
                    {
                        <tr class="table-success">
                            <td>@Result.Rank</td>
                            <td>@Result.PairNo</td>
                            <td>@Result.Score%</td>
                        </tr>
                    }
                    else if (Model.South == Result.PairNo)
                    {
                        <tr class="table-warning">
                            <td>@Result.Rank</td>
                            <td>@Result.PairNo</td>
                            <td>@Result.Score%</td>
                        </tr>
                    }
                    else if (Model.PairEW == Result.PairNo)
                    {
                        <tr class="table-danger">
                            <td>@Result.Rank</td>
                            <td>@Result.PairNo</td>
                            <td>@Result.Score%</td>
                        </tr>
                    }
                    else if (Model.West == Result.PairNo)
                    {
                        <tr class="table-info">
                            <td>@Result.Rank</td>
                            <td>@Result.PairNo</td>
                            <td>@Result.Score%</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Result.Rank</td>
                            <td>@Result.PairNo</td>
                            <td>@Result.Score%</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var urlPollRanking = '@Url.Action("PollRanking", "ShowRankingList")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber';
    var urlEndScreen = '@Url.Action("Index", "EndScreen")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber';
    var urlShowMove = '@Url.Action("Index", "ShowMove")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber&newRoundNumber=' + (@Model.RoundNumber + 1).toString();
    var finalRankingList = @Model.FinalRankingList.ToString().ToLower();
    var pairNS = @Model.PairNS;
    var pairEW = @Model.PairEW;
    var south = @Model.South;
    var west = @Model.West;
</script>
<script src='@Url.Content("~/Scripts/IndividualRankingList.js")' type="text/javascript"></script>
