@model TabScore.Models.Result

@{
    ViewBag.Title = "Confirm Result";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Board @Model.Board
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3>
            Confirm result:
        </h3>
    </div>
</div>

@if (Model.ContractLevel == 0)
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3>
                <a style="color:darkgreen">PASSed Out</a>
            </h3>
        </div>
    </div>
}
else
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3>
                @Html.Raw(Model.DisplayContract())
            </h3>
        </div>
    </div>

    if (Model.Score > 0)
    {
        <div class="row">
            <div class="col-12 text-center">
                <h3>
                    @Model.Score to NS
                </h3>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12 text-center">
                <h3>
                    @(-Model.Score) to EW
                </h3>
            </div>
        </div>
    }
}

<script>
    function validateOK() {
        location.href = '@Url.Action("OKButtonClick", "ConfirmResult")';
    }

    function backClick() {
        location.href = '@Url.Action("BackButtonClick", "ConfirmResult")';
    }
</script>
