@{
    ViewBag.Title = "Show Round EW Missing";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Round: @ViewData["Round"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3>
            Boards: @ViewData["LowBoard"] to @ViewData["HighBoard"]
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            North/South: Pair @ViewData["PairNS"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h4>
            @ViewData["PlayerNameNorth"] & @ViewData["PlayerNameSouth"]
        </h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:red">
            Sitting Out
        </h3>
    </div>
</div>

<script>
    function validateOK() {
        location.href = '/ShowRoundInfo/OKSitOutButtonClick';
    }
</script>
