<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.Round

@{
    ViewData["Title"] = "Show Round EW Missing";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Round: @Model.RoundNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3 style="color:green">
            Boards: @Model.LowBoard to @Model.HighBoard
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            North/South: @Model.PairNS
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h4>
            @Model.NameNorth & @Model.NameSouth
        </h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:red">
            Sitting Out
        </h3>
    </div>
</div>

<script>
    var isSubmitted = false;

    function validateOK() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowRankingList")';
        }
    }

    function backClick() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("BackButtonClick", "ShowRoundInfo")';
        }
    }
</script>
