@model TabScore.Models.Round

@{
    ViewBag.Title = "Show Round NS Missing";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Round: @Model.RoundNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3 style="color:green">
            Boards: @Model.LowBoard to @Model.HighBoard
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            East/West: @Model.PairEW
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h4>
            @Model.NameEast & @Model.NameWest
        </h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:red">
            Sitting Out
        </h3>
    </div>
</div>

<script>
    var isSubmitted = false;

    function validateOK() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKSitOutButtonClick", "ShowRoundInfo")';
        }
    }

    function backClick() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("BackButtonClick", "ShowRoundInfo")';
        }
    }
</script>
