@model TabScore.Models.MoveView

@{
    ViewBag.Title = "Show Move";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Move for Round @Model.RoundNumber
        </h3>
    </div>
</div>

@if (!Model.NSMissing)
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3 style="color:blue">
                North/South: @Model.PairNS
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            @if (Model.NorthNewTable == 0)
            {
                <h4>
                    Move to Sit Out
                </h4>
            }
            else
            {
                if (Model.NorthStay)
                {
                    <h4>
                        Stay at Table @Model.NorthNewTable @Model.NorthNewDirection
                    </h4>
                }
                else
                {
                    <h4>
                        Move to Table @Model.NorthNewTable @Model.NorthNewDirection
                    </h4>
                }
            }
        </div>
    </div>
}

@if (!Model.EWMissing)
{
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h3 style="color:blue">
                East/West: @Model.PairEW
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            @if (Model.EastNewTable == 0)
            {
                <h4>
                    Move to Sit Out
                </h4>
            }
            else
            {
                if (Model.EastStay)
                {
                    <h4>
                        Stay at Table @Model.EastNewTable @Model.EastNewDirection
                    </h4>
                }
                else
                {
                    <h4>
                        Move to Table @Model.EastNewTable @Model.EastNewDirection
                    </h4>
                }
            }
        </div>
    </div>
}

<div class="row mt-4">
    <div class="col-12 text-center">
        <h3 style="color:green">
            Boards: @Model.LowBoard to @Model.HighBoard
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @if (Model.BoardsNewTable == 0)
        {
            <h4>
                Pass to Relay Table
            </h4>
        }
        else
        {
            <h4>
                Pass to Table @Model.BoardsNewTable
            </h4>
        }
    </div>
</div>

<script>
    function validateOK() {
        location.href = '@Url.Action("OKButtonClick", "ShowMove")';
    }
</script>
