<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.RankingList

<div class="row mt-4">
    <div class="col-12 text-center">
        <h4>
            Ranking List
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <table class="table-sm table-bordered text-center" style="margin:auto; width:70%">
            <thead class="thead-dark">
                <tr>
                    <th>Rank NS</th>
                    <th>Pair No</th>
                    <th>%age</th>
                </tr>
            </thead>
            <tbody id="tableBodyNS">
                @foreach (var Rank in Model)
                {
                    if (Rank.Orientation == "N")
                    {
                        if (Model.PairNS == Rank.PairNo)
                        {
                            <tr class="table-success">
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNo</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNo</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <table class="table-sm table-bordered text-center" style="margin:auto; width:70%">
            <thead>
                <tr>
                    <th>Rank EW</th>
                    <th>Pair No</th>
                    <th>%age</th>
                </tr>
            </thead>
            <tbody id="tableBodyEW">
                @foreach (var Rank in Model)
                {
                    if (Rank.Orientation == "E")
                    {
                        if (Model.PairEW == Rank.PairNo)
                        {
                            <tr class="table-warning">
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNo</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNo</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var urlPollRanking = '@Url.Action("PollRanking", "ShowRankingList")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber';
    var urlEndScreen = '@Url.Action("Index", "EndScreen")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber';
    var urlShowMove = '@Url.Action("Index", "ShowMove")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber&newRoundNumber=' + (@Model.RoundNumber + 1).toString();
    var finalRankingList = @Model.FinalRankingList.ToString().ToLower();
    var pairNS = @Model.PairNS;
    var pairEW = @Model.PairEW;
</script>
<script src='@Url.Content("~/Scripts/TwoWinnersRankingList.js")' type="text/javascript"></script>