<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.RankingList

@{
    ViewData["Title"] = "Show Ranking List - Two Winners";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-4">
    <div class="col-12 text-center">
        <h4>
            Ranking List
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <table class="table-sm table-bordered text-center" style="margin:auto; width:70%">
            <thead class="thead-dark">
                <tr>
                    <th>Rank NS</th>
                    <th>Pair No</th>
                    <th>%age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Rank in Model)
                {
                    if (Rank.Orientation == "N")
                    {
                        if (Model.PairNS == Rank.PairNo)
                        {
                            <tr class="table-success">
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNo</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNo</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <table class="table-sm table-bordered text-center" style="margin:auto; width:70%">
            <thead>
                <tr>
                    <th>Rank EW</th>
                    <th>Pair No</th>
                    <th>%age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Rank in Model)
                {
                    if (Rank.Orientation == "E")
                    {
                        if (Model.PairEW == Rank.PairNo)
                        {
                            <tr class="table-warning">
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNo</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNo</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var isSubmitted = false;

    function validateOK() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "ShowRankingList")?roundNumber=@Model.RoundNumber';
        }
    }

    function refreshClick() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("RefreshButtonClick", "ShowRankingList")';
        }
    }
</script>
