<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.Round

@{
    ViewData["Title"] = "Show Player Numbers EW Missing";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="notAllNamesModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Please select a name for both North and South</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Enter/Edit Players:
        </h3>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            North: @Model.PairNS
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
        @if (Model.NameNorth == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="EnterPlayerNumber('North')">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="EnterPlayerNumber('North')">
                Edit
            </button>
        }
    </div>
    <div class="col-8 align-self-center">
        <h4>
            @Model.NameNorth
        </h4>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <h3 style="color:blue">
            South: @Model.South
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
        @if (Model.NameSouth == "")
        {
            <button class="btn btn-primary btn-lg m-1" ontouchstart="EnterPlayerNumber('South')">
                Enter
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg m-1" ontouchstart="EnterPlayerNumber('South')">
                Edit
            </button>
        }
    </div>
    <div class="col-8 align-self-center">
        <h4>
            @Model.NameSouth
        </h4>
    </div>
</div>

<script>
    var isSubmitted = false;

    function validateOK() {
        if ("@Model.NameNorth" == "" || "@Model.NameSouth" == "") {
            $("#notAllNamesModal").modal();
        }
        else {
            if (!isSubmitted) {
                isSubmitted = true;
                location.href = '@Url.Action("Index", "ShowRoundInfo")';
            }
        }
    }

    function EnterPlayerNumber(direction) {
            if (!isSubmitted) {
                isSubmitted = true;
                location.href = '@Url.Action("Index", "EnterPlayerNumber")?direction=' + direction;
            }
    }
</script>
