
@{
    ViewBag.Title = "Enter Contract";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    .btn-suit {
        background-color:paleturquoise;
    }
    .btn-pass {
        background-color:darkgreen;
        color:white;
    }
    .btn-double {
        background-color:crimson;
        color:white;
    }
    .btn-redouble {
        background-color:darkblue;
        color:white;
    }
    .btn-declarer {
        background-color:darkslategrey;
        color:white;
    }
</style>

<div id="noContractModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Please select all contract elements</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Board @ViewData["Board"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3>
            Enter contract:
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <button id="pass" class="btn btn-pass btn-lg m-1" ontouchstart="setPass()">
            PASS Out
        </button>
        <button id="n1" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setNumber('1')">
            1
        </button>
        <button id="n2" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setNumber('2')">
            2
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button id="n3" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setNumber('3')">
            3
        </button>
        <button id="n4" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setNumber('4')">
            4
        </button>
        <button id="n5" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setNumber('5')">
            5
        </button>
        <button id="n6" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setNumber('6')">
            6
        </button>
        <button id="n7" class="btn btn-primary btn-lg m-1" style="width:3em" ontouchstart="setNumber('7')">
            7
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button id="sNT" class="btn btn-suit btn-lg m-1" style="width:3em; height:3em" ontouchstart="setSuit('NT')">
            NT
        </button>
        <button id="sS" class="btn btn-suit btn-lg m-1" style="color:black; width:3em; height:3em" ontouchstart="setSuit('S')">
            <p style="font-size:larger; margin-bottom:0">&spades;</p>
        </button>
        <button id="sH" class="btn btn-suit btn-lg m-1" style="color:red; width:3em; height:3em" ontouchstart="setSuit('H')">
            <p style="font-size:larger; margin-bottom:0">&hearts;</p>
        </button>
        <button id="sD" class="btn btn-suit btn-lg m-1" style="color:orangered; width:3em; height:3em" ontouchstart="setSuit('D')">
            <p style="font-size:larger; margin-bottom:0">&diams;</p>
        </button>
        <button id="sC" class="btn btn-suit btn-lg m-1" style="color:darkslategrey; width:3em; height:3em" ontouchstart="setSuit('C')">
            <p style="font-size:larger; margin-bottom:0">&clubs;</p>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button id="X" class="btn btn-double btn-lg m-1" style="width:3em" ontouchstart="setX()">
            X
        </button>
        <button id="XX" class="btn btn-redouble btn-lg m-1" style="width:3em" ontouchstart="setXX()">
            XX
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <h3>
            by:
        </h3>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <button id="dN" class="btn btn-declarer btn-lg m-1" ontouchstart="setNSEW('N')">
            North
        </button>
        <button id="dS" class="btn btn-declarer btn-lg m-1" ontouchstart="setNSEW('S')">
            South
        </button>
        <button id="dE" class="btn btn-declarer btn-lg m-1" ontouchstart="setNSEW('E')">
            East
        </button>
        <button id="dW" class="btn btn-declarer btn-lg m-1" ontouchstart="setNSEW('W')">
            West
        </button>
    </div>
</div>

<script>
    var number = '@ViewData["ContractLevel"].ToString()';
    var suit = '@ViewData["ContractSuit"].ToString()';
    var double = '@ViewData["ContractX"].ToString()';
    var NSEW = '@ViewData["NSEW"].ToString()';

    window.onload = setCurrentSelections();

    function setCurrentSelections() {
        if (number != "") {
            if (number == "PASS") {
                setPass()
            }
            else {
                document.getElementById('n' + number).className = "btn btn-warning btn-lg m-1";
                document.getElementById('s' + suit).className = "btn btn-warning btn-lg m-1";
                document.getElementById('d' + NSEW).className = "btn btn-warning btn-lg m-1";
                if (double == 'x') {
                    document.getElementById('X').className = "btn btn-warning btn-lg m-1";
                }
                else if (double == 'xx') {
                    document.getElementById('XX').className = "btn btn-warning btn-lg m-1";
                }
            }
        }
    }

    function clearPass() {
        number = "";
        document.getElementById('pass').className = "btn btn-pass btn-lg m-1";
    }

    function clearNumbers() {
        document.getElementById('pass').className = "btn btn-pass btn-lg m-1";
        document.getElementById('n1').className = "btn btn-primary btn-lg m-1";
        document.getElementById('n2').className = "btn btn-primary btn-lg m-1";
        document.getElementById('n3').className = "btn btn-primary btn-lg m-1";
        document.getElementById('n4').className = "btn btn-primary btn-lg m-1";
        document.getElementById('n5').className = "btn btn-primary btn-lg m-1";
        document.getElementById('n6').className = "btn btn-primary btn-lg m-1";
        document.getElementById('n7').className = "btn btn-primary btn-lg m-1";
    }

    function clearSuits() {
        document.getElementById('sNT').className = "btn btn-suit btn-lg m-1";
        document.getElementById('sS').className = "btn btn-suit btn-lg m-1";
        document.getElementById('sH').className = "btn btn-suit btn-lg m-1";
        document.getElementById('sD').className = "btn btn-suit btn-lg m-1";
        document.getElementById('sC').className = "btn btn-suit btn-lg m-1";
    }

    function clearNSEWs() {
        document.getElementById('dN').className = "btn btn-declarer btn-lg m-1";
        document.getElementById('dS').className = "btn btn-declarer btn-lg m-1";
        document.getElementById('dE').className = "btn btn-declarer btn-lg m-1";
        document.getElementById('dW').className = "btn btn-declarer btn-lg m-1";
    }

    function setNumber(n) {
        number = n;
        clearNumbers();
        document.getElementById('n' + number).className = "btn btn-warning btn-lg m-1";
    }

    function setPass() {
        number = "PASS";
        suit = "";
        double = "NONE";
        NSEW = "";
        clearNumbers();
        clearSuits();
        clearNSEWs();
        document.getElementById('X').className = "btn btn-double btn-lg m-1";
        document.getElementById('XX').className = "btn btn-redouble btn-lg m-1";
        document.getElementById('pass').className = "btn btn-warning btn-lg m-1";
    }

    function setSuit(s) {
        suit = s;
        clearSuits();
        if (number == "PASS") clearPass();
        document.getElementById('s' + suit).className = "btn btn-warning btn-lg m-1";
    }

    function setX() {
        if (double != 'x') {
            double = "x";
            if (number == "PASS") clearPass();
            document.getElementById('X').className = "btn btn-warning btn-lg m-1";
            document.getElementById('XX').className = "btn btn-redouble btn-lg m-1";
        }
        else {
            double = "NONE";
            document.getElementById('X').className = "btn btn-double btn-lg m-1";
        }
    }

    function setXX() {
        if (double != 'xx') {
            double = "xx";
            if (number == "PASS") clearPass();
            document.getElementById('XX').className = "btn btn-warning btn-lg m-1";
            document.getElementById('X').className = "btn btn-double btn-lg m-1";
        }
        else {
            double = "NONE";
            document.getElementById('XX').className = "btn btn-redouble btn-lg m-1";
        }
    }

    function setNSEW(d) {
        NSEW = d;
        clearNSEWs();
        if (number == "PASS") clearPass();
        document.getElementById('d' + NSEW).className = "btn btn-warning btn-lg m-1";
    }

    function validateOK() {
        if (number == "PASS") {
            location.href = '@Url.Action("OKButtonPASS", "EnterContract")';
        }
        else if (number != "" && suit != "" && NSEW != "") {
            location.href = '@Url.Action("OKButtonContract", "EnterContract")?cLevel=' + number + '&cSuit=' + suit + '&cX=' + double + '&cNSEW=' + NSEW;
        }
        else {
            $("#noContractModal").modal();
        }
    }

    function backClick() {
        location.href = '@Url.Action("BackButtonClick", "EnterContract")';
    }
</script>
