<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2023 by Peter Flippant
    Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.ResultInfo
@using System.Web.Optimization
@using Resources

<style>
    .btn-suit {
        background-color: paleturquoise;
        border-color: paleturquoise;
    }

    .btn-pass {
        background-color: darkgreen;
        border-color: darkgreen;
        color: white;
    }

    .btn-double {
        background-color: crimson;
        border-color: crimson;
        color: white;
    }

        .btn-double:hover {
            color: white;
        }

    .btn-redouble {
        background-color: darkblue;
        border-color: darkblue;
        color: white;
    }

        .btn-redouble:hover {
            color: white;
        }
</style>

<div class="row mt-5">
    <div class="col-12 text-center p-0">
        <h3>
            @Strings.Board @Model.ResultData.BoardNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <h3>
            @Strings.EnterContract
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center p-0">
        <button id="skip" class="btn btn-lg btn-outline-danger m-1 px-2" onclick="setSkip()">
            @Strings.Skip
        </button>
        <button id="pass" class="btn btn-lg btn-pass m-1 px-2" onclick="setPass()">
            @Strings.AllPass
        </button>
        <button id="n1" class="btn btn-lg btn-primary m-1 px-0" style="width:2.5em" onclick="setLevel(1)">
            1
        </button>
        <button id="n2" class="btn btn-lg btn-primary m-1 px-0" style="width:2.5em" onclick="setLevel(2)">
            2
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <button id="n3" class="btn btn-lg btn-primary m-1 px-0" style="width:2.5em" onclick="setLevel(3)">
            3
        </button>
        <button id="n4" class="btn btn-lg btn-primary m-1 px-0" style="width:2.5em" onclick="setLevel(4)">
            4
        </button>
        <button id="n5" class="btn btn-lg btn-primary m-1 px-0" style="width:2.5em" onclick="setLevel(5)">
            5
        </button>
        <button id="n6" class="btn btn-lg btn-primary m-1 px-0" style="width:2.5em" onclick="setLevel(6)">
            6
        </button>
        <button id="n7" class="btn btn-lg btn-primary m-1 px-0" style="width:2.5em" onclick="setLevel(7)">
            7
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <button id="sNT" class="btn btn-lg btn-suit m-1 p-0" style="width:2.5em; height:2.5em" onclick="setSuit('NT')">
            @Strings.NT
        </button>
        <button id="sS" class="btn btn-lg btn-suit m-1 p-0" style="width:2.5em; height:2.5em" onclick="setSuit('S')">
            <div style="font-size: 2rem; color: black">&spades;</div>
        </button>
        <button id="sH" class="btn btn-lg btn-suit m-1 p-0" style="width:2.5em; height:2.5em" onclick="setSuit('H')">
            <div style="font-size:2rem; color: red">&hearts;</div>
        </button>
        <button id="sD" class="btn btn-lg btn-suit m-1 p-0" style="width:2.5em; height:2.5em" onclick="setSuit('D')">
            <div style="font-size: 2rem; color: lightsalmon ">&diams;</div>
        </button>
        <button id="sC" class="btn btn-lg btn-suit m-1 p-0" style="width:2.5em; height:2.5em" onclick="setSuit('C')">
            <div style="font-size:2rem; color:lightslategrey">&clubs;</div>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <button id="X" class="btn btn-lg btn-double m-1 px-0" style="width:2.5em" onclick="setX()">
            X
        </button>
        <button id="XX" class="btn btn-lg btn-redouble m-1 px-0" style="width:2.5em" onclick="setXX()">
            XX
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center p-0">
        <h3>
            @Strings.by
        </h3>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center p-0">
        <button id="dN" class="btn btn-lg btn-secondary m-1 px-2" onclick="setNSEW('N')">
            @Strings.North
        </button>
        <button id="dS" class="btn btn-lg btn-secondary m-1 px-2" onclick="setNSEW('S')">
            @Strings.South
        </button>
        <button id="dE" class="btn btn-lg btn-secondary m-1 px-2" onclick="setNSEW('E')">
            @Strings.East
        </button>
        <button id="dW" class="btn btn-lg btn-secondary m-1 px-2" onclick="setNSEW('W')">
            @Strings.West
        </button>
    </div>
</div>

<script>
    var level = @Model.ResultData.ContractLevel;
    var suit = '@Model.ResultData.ContractSuit';
    var double = '@Model.ResultData.ContractX';
    var NSEW = '@Model.ResultData.DeclarerNSEW';
    var urlOKButtonPass = '@Url.Action("OKButtonPass", "EnterContract")?tabletDeviceNumber=@Model.TabletDeviceNumber';
    var urlOKButtonSkip = '@Url.Action("OKButtonSkip", "EnterContract")?tabletDeviceNumber=@Model.TabletDeviceNumber';
    var urlOKButtonContract = '@Url.Action("OKButtonContract", "EnterContract")?tabletDeviceNumber=@Model.TabletDeviceNumber';
    var urlShowBoards = '@Url.Action("Index", "ShowBoards")?tabletDeviceNumber=@Model.TabletDeviceNumber';
</script>
@Scripts.Render("~/bundles/enterContractJS")